In [18]:
import pandas as pd

data = pd.read_csv("../data/CarPrice_Assignment.csv")

In [19]:
data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [20]:
data['CarName'] = data['CarName'].str.split(' ',expand=True)[0]

In [36]:
data['CarName'] = data['CarName'].replace({'maxda': 'mazda', 'nissan': 'Nissan', 'porcshce': 'porsche', 'toyouta': 'toyota', 'vokswagen': 'volkswagen', 'vw': 'volkswagen', 'alfa-romero': 'alfa romero'})
data['CarName'].unique()

array(['alfa romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'buick', 'mercury', 'mitsubishi',
       'Nissan', 'peugeot', 'plymouth', 'porsche', 'renault', 'saab',
       'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [22]:
data.dtypes

car_ID                int64
symboling             int64
CarName              object
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [23]:
data.shape

(205, 26)

In [24]:
unique_values = {col: data[col].unique() for col in data.columns}

for col, values in unique_values.items():
  print(f'Columna: {col}')
  print(f'Numero de valores Ãºnicos: {len(values)}')
  print(f'Valores unicos: {values[:10]}')
  print('-' * 50)

Columna: car_ID
Numero de valores Ãºnicos: 205
Valores unicos: [ 1  2  3  4  5  6  7  8  9 10]
--------------------------------------------------
Columna: symboling
Numero de valores Ãºnicos: 6
Valores unicos: [ 3  1  2  0 -1 -2]
--------------------------------------------------
Columna: CarName
Numero de valores Ãºnicos: 22
Valores unicos: ['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'buick']
--------------------------------------------------
Columna: fueltype
Numero de valores Ãºnicos: 2
Valores unicos: ['gas' 'diesel']
--------------------------------------------------
Columna: aspiration
Numero de valores Ãºnicos: 2
Valores unicos: ['std' 'turbo']
--------------------------------------------------
Columna: doornumber
Numero de valores Ãºnicos: 2
Valores unicos: ['two' 'four']
--------------------------------------------------
Columna: carbody
Numero de valores Ãºnicos: 5
Valores unicos: ['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
--------------------------------------------------
Columna: drivewheel
Numero de valores Ãºnicos: 3
Valores unicos: ['rwd' 'fwd' '4wd']
--------------------------------------------------
Columna: enginelocation
Numero de valores Ãºnicos: 2
Valores unicos: ['front' 'rear']
--------------------------------------------------
Columna: wheelbase
Numero de valores Ãºnicos: 53
Valores unicos: [ 88.6  94.5  99.8  99.4 105.8  99.5 101.2 103.5 110.   88.4]
--------------------------------------------------
Columna: carlength
Numero de valores Ãºnicos: 75
Valores unicos: [168.8 171.2 176.6 177.3 192.7 178.2 176.8 189.  193.8 197. ]
--------------------------------------------------
Columna: carwidth
Numero de valores Ãºnicos: 44
Valores unicos: [64.1 65.5 66.2 66.4 66.3 71.4 67.9 64.8 66.9 70.9]
--------------------------------------------------
Columna: carheight
Numero de valores Ãºnicos: 49
Valores unicos: [48.8 52.4 54.3 53.1 55.7 55.9 52.  53.7 56.3 53.2]
--------------------------------------------------
Columna: curbweight
Numero de valores Ãºnicos: 171
Valores unicos: [2548 2823 2337 2824 2507 2844 2954 3086 3053 2395]
--------------------------------------------------
Columna: enginetype
Numero de valores Ãºnicos: 7
Valores unicos: ['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']
--------------------------------------------------
Columna: cylindernumber
Numero de valores Ãºnicos: 7
Valores unicos: ['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']
--------------------------------------------------
Columna: enginesize
Numero de valores Ãºnicos: 44
Valores unicos: [130 152 109 136 131 108 164 209  61  90]
--------------------------------------------------
Columna: fuelsystem
Numero de valores Ãºnicos: 8
Valores unicos: ['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' '4bbl' 'idi' 'spdi']
--------------------------------------------------
Columna: boreratio
Numero de valores Ãºnicos: 38
Valores unicos: [3.47 2.68 3.19 3.13 3.5  3.31 3.62 2.91 3.03 2.97]
--------------------------------------------------
Columna: stroke
Numero de valores Ãºnicos: 37
Valores unicos: [2.68 3.47 3.4  2.8  3.19 3.39 3.03 3.11 3.23 3.46]
--------------------------------------------------
Columna: compressionratio
Numero de valores Ãºnicos: 32
Valores unicos: [ 9.   10.    8.    8.5   8.3   7.    8.8   9.5   9.6   9.41]
--------------------------------------------------
Columna: horsepower
Numero de valores Ãºnicos: 59
Valores unicos: [111 154 102 115 110 140 160 101 121 182]
--------------------------------------------------
Columna: peakrpm
Numero de valores Ãºnicos: 23
Valores unicos: [5000 5500 5800 4250 5400 5100 4800 6000 4750 4650]
--------------------------------------------------
Columna: citympg
Numero de valores Ãºnicos: 29
Valores unicos: [21 19 24 18 17 16 23 20 15 47]
--------------------------------------------------
Columna: highwaympg
Numero de valores Ãºnicos: 30
Valores unicos: [27 26 30 22 25 20 29 28 53 43]
--------------------------------------------------
Columna: price
Numero de valores Ãºnicos: 189
Valores unicos: [13495.    16500.    13950.    17450.    15250.    17710.    18920.
 23875.    17859.167 16430.   ]
--------------------------------------------------

In [25]:
data.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [26]:
data.duplicated().sum()

np.int64(0)

In [37]:
data.to_csv('../data/clean_data.csv', index=None)
data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0